* text=auto

/.github            export-ignore
/http               export-ignore
/tests              export-ignore
AGENTS.md           export-ignore
CHANGELOG.md        export-ignore
CLAUDE.md           export-ignore
phpstan.neon.dist   export-ignore
phpunit.xml.dist    export-ignore
pint.json           export-ignore
