{"openapi":"3.1.0","info":{"title":"Luma API","version":"1.0.0","description":"API for interacting with Luma's event platform.","contact":{"name":"Luma Support","url":"https://help.luma.com"},"license":{"name":"Proprietary"}},"servers":[{"url":"https://public-api.luma.com","description":"Production server"}],"paths":{"/v1/event/get":{"get":{"tags":["Events"],"summary":"Get Event","parameters":[{"name":"id","in":"query","required":false,"schema":{"type":"string","description":"Event ID, this usually starts with evt-"},"description":"Event ID, this usually starts with evt-"},{"name":"api_id","in":"query","required":false,"schema":{"deprecated":true,"description":"Deprecated: use `id` instead.","type":"string"},"description":"Deprecated: use `id` instead."}],"description":"Return admin information about an event that you have manage access for.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"event":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"description":{"type":"string"},"description_md":{"type":"string"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}]},"geo_latitude":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo_longitude":{"anyOf":[{"type":"string"},{"type":"null"}]},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"cover_url":{"type":"string"},"registration_questions":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"company"},"collect_job_title":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"job_title_label":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"dropdown"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"github"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"instagram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"linkedin"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"long-text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"multi-select"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"phone-number"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"telegram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"twitter"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"url"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"youtube"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"terms"},"terms":{"oneOf":[{"type":"object","properties":{"content_type":{"type":"string","const":"text"},"content_md":{"type":"string","description":"Markdown content for the terms. Luma converts this to rich text internally."},"collect_signature":{"type":"boolean"}},"required":["content_type","content_md","collect_signature"]},{"type":"object","properties":{"content_type":{"type":"string","const":"link"},"url":{"type":"string","format":"uri"},"collect_signature":{"type":"boolean"}},"required":["content_type","url","collect_signature"]}]}},"required":["id","label","required","question_type","terms"]}]}},"url":{"type":"string"},"visibility":{"type":"string","enum":["public","members-only","private"]},"feedback_email":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to send the feedback email."},"delay":{"description":"How long after the event ends to send the feedback email. Defaults to PT0M (immediately). Maximum is P7D (7 days).","type":"string"}},"required":["enabled"],"description":"Settings for the post-event feedback email sent to guests."},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."},"user_api_id":{"type":"string","deprecated":true,"description":"Use `user_id` instead."},"calendar_api_id":{"type":"string","deprecated":true,"description":"Use `calendar_id` instead."},"zoom_meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}],"deprecated":true,"description":"Use `meeting_url` instead. Not all meetings use Zoom."}},"required":["id","user_id","calendar_id","start_at","duration_interval","end_at","created_at","timezone","name","description","description_md","geo_address_json","geo_latitude","geo_longitude","meeting_url","cover_url","url","visibility","feedback_email","api_id","user_api_id","calendar_api_id","zoom_meeting_url"]},"hosts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","email","name","first_name","last_name","avatar_url","api_id"]}}},"required":["event","hosts"]}}}}}}},"/v1/calendar/get":{"get":{"tags":["Calendars"],"summary":"Get Calendar","parameters":[],"description":"Get information about the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"calendar":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"social_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"cover_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_personal":{"type":"boolean"},"instagram_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"youtube_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","slug","avatar_url","url","description","social_image_url","cover_image_url","is_personal","instagram_handle","twitter_handle","youtube_handle","website"]}},"required":["calendar"]}}}}}}},"/v1/calendar/list-events":{"get":{"tags":["Calendars"],"summary":"List Events","parameters":[{"name":"before","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"name":"after","in":"query","required":false,"schema":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"sort_column","in":"query","required":false,"schema":{"type":"string","enum":["start_at"]}},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}}],"description":"Every event and API key on Luma is managed by a [Luma Calendar](https://help.luma.com/p/luma-calendar-overview). You can list all of the events managed by your Calendar by using this API route.\n\nNote that this API route will not list events that are listed on the Calendar but not managed by the Calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"api_id":{"type":"string"},"event":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"calendar_id":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"duration_interval":{"type":"string"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"name":{"type":"string"},"description":{"type":"string"},"description_md":{"type":"string"},"geo_address_json":{"anyOf":[{"type":"object","properties":{"address":{"type":"string"},"city":{"anyOf":[{"type":"string"},{"type":"null"}]},"region":{"anyOf":[{"type":"string"},{"type":"null"}]},"country":{"anyOf":[{"type":"string"},{"type":"null"}]},"city_state":{"anyOf":[{"type":"string"},{"type":"null"}]},"full_address":{"anyOf":[{"type":"string"},{"type":"null"}]},"google_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"apple_maps_place_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["address","city","region","country","city_state","full_address","google_maps_place_id","apple_maps_place_id","description"]},{"type":"null"}]},"geo_latitude":{"anyOf":[{"type":"string"},{"type":"null"}]},"geo_longitude":{"anyOf":[{"type":"string"},{"type":"null"}]},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"cover_url":{"type":"string"},"registration_questions":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"company"},"collect_job_title":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"job_title_label":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"dropdown"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"github"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"instagram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"linkedin"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"long-text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"multi-select"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"phone-number"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"telegram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"twitter"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"url"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"youtube"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"terms"},"terms":{"oneOf":[{"type":"object","properties":{"content_type":{"type":"string","const":"text"},"content_md":{"type":"string","description":"Markdown content for the terms. Luma converts this to rich text internally."},"collect_signature":{"type":"boolean"}},"required":["content_type","content_md","collect_signature"]},{"type":"object","properties":{"content_type":{"type":"string","const":"link"},"url":{"type":"string","format":"uri"},"collect_signature":{"type":"boolean"}},"required":["content_type","url","collect_signature"]}]}},"required":["id","label","required","question_type","terms"]}]}},"url":{"type":"string"},"visibility":{"type":"string","enum":["public","members-only","private"]},"feedback_email":{"type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to send the feedback email."},"delay":{"description":"How long after the event ends to send the feedback email. Defaults to PT0M (immediately). Maximum is P7D (7 days).","type":"string"}},"required":["enabled"],"description":"Settings for the post-event feedback email sent to guests."},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."},"user_api_id":{"type":"string","deprecated":true,"description":"Use `user_id` instead."},"calendar_api_id":{"type":"string","deprecated":true,"description":"Use `calendar_id` instead."},"zoom_meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}],"deprecated":true,"description":"Use `meeting_url` instead. Not all meetings use Zoom."}},"required":["id","user_id","calendar_id","start_at","duration_interval","end_at","created_at","timezone","name","description","description_md","geo_address_json","geo_latitude","geo_longitude","meeting_url","cover_url","url","visibility","feedback_email","api_id","user_api_id","calendar_api_id","zoom_meeting_url"]},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","name","api_id"]}}},"required":["api_id","event","tags"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/event/get-guest":{"get":{"tags":["Events"],"summary":"Get Guest","parameters":[{"name":"event_id","in":"query","required":false,"schema":{"description":"Event ID, this usually starts with evt-","type":"string"},"description":"Event ID, this usually starts with evt-"},{"name":"id","in":"query","required":false,"schema":{"description":"You can choose from a few different identifiers here including guest ID (gst-), ticket key, guest key (g-), or the user's email.","type":"string"},"description":"You can choose from a few different identifiers here including guest ID (gst-), ticket key, guest key (g-), or the user's email."},{"name":"event_api_id","in":"query","required":false,"schema":{"type":"string","deprecated":true}},{"name":"api_id","in":"query","required":false,"schema":{"type":"string","description":"This is the API ID of the guest (not the user).","deprecated":true},"description":"This is the API ID of the guest (not the user)."},{"name":"email","in":"query","required":false,"schema":{"deprecated":true,"type":"string"}},{"name":"proxy_key","in":"query","required":false,"schema":{"deprecated":true,"description":"In the check in QR code, this is the value of the `pk` parameter.","type":"string"},"description":"In the check in QR code, this is the value of the `pk` parameter."}],"description":"Get detailed information for an event guest by looking them up by their ID. This supports looking them up by different parameters.\n\nThis response includes `event_ticket_orders`, which includes `coupon_info` when a coupon was applied.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"guest":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"user_email":{"type":"string"},"user_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"approval_status":{"type":"string","enum":["approved","session","pending_approval","invited","declined","waitlist"]},"check_in_qr_code":{"type":"string"},"eth_address":{"anyOf":[{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},{"type":"null"}]},"invited_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest was invited to the event. Null if they registered on their own."},"joined_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest first clicked the virtual join link (luma.com/join/...). Only set for online events. Null if the guest has not joined."},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}]},"registered_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest registered for the event."},"registration_answers":{"anyOf":[{"type":"array","items":{"anyOf":[{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"boolean"},"answer":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"object","properties":{"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer_company":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer_job_title":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"company"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"dropdown"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"answer":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"question_type":{"type":"string","const":"multi-select"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"phone-number"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"boolean","const":true}]},{"type":"null"}]},"answer":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"boolean","const":true}]},{"type":"null"}]},"question_type":{"type":"string","const":"terms"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"anyOf":[{"type":"string","const":"github"},{"type":"string","const":"instagram"},{"type":"string","const":"linkedin"},{"type":"string","const":"long-text"},{"type":"string","const":"telegram"},{"type":"string","const":"text"},{"type":"string","const":"twitter"},{"type":"string","const":"youtube"}]}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"url"}},"required":["label","question_id","value","question_type"]}]}},{"type":"null"}]},"solana_address":{"anyOf":[{"type":"string","pattern":"^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$"},{"type":"null"}]},"utm_source":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The UTM source parameter captured when the guest registered (from the `?utm_source=` query parameter)."},"event_tickets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"event_ticket_type_id":{"type":"string"},"is_captured":{"type":"boolean"},"name":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","amount","amount_discount","amount_tax","currency","checked_in_at","event_ticket_type_id","is_captured","name","api_id"]}},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."},"custom_source":{"anyOf":[{"type":"string"},{"type":"null"}],"deprecated":true,"description":"Use `utm_source` instead."},"event_ticket":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"event_ticket_type_id":{"type":"string"},"is_captured":{"type":"boolean"},"name":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","amount","amount_discount","amount_tax","currency","checked_in_at","event_ticket_type_id","is_captured","name","api_id"]},{"type":"null"}],"deprecated":true,"description":"Use `event_tickets` array instead."},"user_api_id":{"type":"string","deprecated":true,"description":"Use `user_id` instead."},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"deprecated":true,"description":"Check-in is now per-ticket. Use `checked_in_at` on each item in `event_tickets` instead."},"event_ticket_orders":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"coupon_info":{"anyOf":[{"type":"object","properties":{"api_id":{"type":"string"},"percent_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"cents_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"code":{"type":"string"}},"required":["api_id","percent_off","cents_off","currency","code"]},{"type":"null"}],"description":"The coupon that was applied to this ticket order, if any."},"is_captured":{"type":"boolean"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","amount","amount_discount","amount_tax","currency","coupon_info","is_captured","api_id"]},"description":"Detailed ticket orders for this guest. Use this to inspect applied coupon_info per order."}},"required":["id","user_id","user_email","user_name","user_first_name","user_last_name","approval_status","check_in_qr_code","eth_address","invited_at","joined_at","phone_number","registered_at","registration_answers","solana_address","utm_source","event_tickets","api_id","custom_source","event_ticket","user_api_id","checked_in_at","event_ticket_orders"]}},"required":["guest"]}}}}}}},"/v1/event/get-guests":{"get":{"tags":["Events"],"summary":"Get Guests","parameters":[{"name":"event_id","in":"query","required":false,"schema":{"description":"Event ID, this usually starts with evt-","type":"string"},"description":"Event ID, this usually starts with evt-"},{"name":"approval_status","in":"query","required":false,"schema":{"type":"string","enum":["approved","session","pending_approval","invited","declined","waitlist"]}},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"sort_column","in":"query","required":false,"schema":{"type":"string","enum":["name","email","created_at","registered_at","checked_in_at"]}},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}},{"name":"event_api_id","in":"query","required":false,"schema":{"deprecated":true,"description":"Event API ID, this usually starts with evt-","type":"string"},"description":"Event API ID, this usually starts with evt-"}],"description":"Get list of guests who have registered or been invited to an event.\n\nThis list response includes guest summaries and `event_tickets`, but not order-level details like `event_ticket_orders`. Use `/v1/event/get-guest` when you need detailed ticket order data for a specific guest.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"api_id":{"type":"string"},"guest":{"type":"object","properties":{"id":{"type":"string"},"user_id":{"type":"string"},"user_email":{"type":"string"},"user_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"user_last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"approval_status":{"type":"string","enum":["approved","session","pending_approval","invited","declined","waitlist"]},"check_in_qr_code":{"type":"string"},"eth_address":{"anyOf":[{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},{"type":"null"}]},"invited_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest was invited to the event. Null if they registered on their own."},"joined_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest first clicked the virtual join link (luma.com/join/...). Only set for online events. Null if the guest has not joined."},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}]},"registered_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"description":"When the guest registered for the event."},"registration_answers":{"anyOf":[{"type":"array","items":{"anyOf":[{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"boolean"},"answer":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"type":"object","properties":{"company":{"anyOf":[{"type":"string"},{"type":"null"}]},"job_title":{"anyOf":[{"type":"string"},{"type":"null"}]}}},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer_company":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer_job_title":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"company"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"dropdown"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"answer":{"anyOf":[{"type":"array","items":{"type":"string"}},{"type":"null"}]},"question_type":{"type":"string","const":"multi-select"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"phone-number"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"boolean","const":true}]},{"type":"null"}]},"answer":{"anyOf":[{"anyOf":[{"type":"string"},{"type":"boolean","const":true}]},{"type":"null"}]},"question_type":{"type":"string","const":"terms"}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"anyOf":[{"type":"string","const":"github"},{"type":"string","const":"instagram"},{"type":"string","const":"linkedin"},{"type":"string","const":"long-text"},{"type":"string","const":"telegram"},{"type":"string","const":"text"},{"type":"string","const":"twitter"},{"type":"string","const":"youtube"}]}},"required":["label","question_id","value","question_type"]},{"type":"object","properties":{"label":{"type":"string"},"question_id":{"type":"string"},"value":{"anyOf":[{"type":"string"},{"type":"null"}]},"answer":{"anyOf":[{"type":"string"},{"type":"null"}]},"question_type":{"type":"string","const":"url"}},"required":["label","question_id","value","question_type"]}]}},{"type":"null"}]},"solana_address":{"anyOf":[{"type":"string","pattern":"^[5KL1-9A-HJ-NP-Za-km-z]{32,44}$"},{"type":"null"}]},"utm_source":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"The UTM source parameter captured when the guest registered (from the `?utm_source=` query parameter)."},"event_tickets":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"event_ticket_type_id":{"type":"string"},"is_captured":{"type":"boolean"},"name":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","amount","amount_discount","amount_tax","currency","checked_in_at","event_ticket_type_id","is_captured","name","api_id"]}},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."},"custom_source":{"anyOf":[{"type":"string"},{"type":"null"}],"deprecated":true,"description":"Use `utm_source` instead."},"event_ticket":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"amount":{"type":"number"},"amount_discount":{"type":"number"},"amount_tax":{"type":"number"},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"event_ticket_type_id":{"type":"string"},"is_captured":{"type":"boolean"},"name":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","amount","amount_discount","amount_tax","currency","checked_in_at","event_ticket_type_id","is_captured","name","api_id"]},{"type":"null"}],"deprecated":true,"description":"Use `event_tickets` array instead."},"user_api_id":{"type":"string","deprecated":true,"description":"Use `user_id` instead."},"checked_in_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}],"deprecated":true,"description":"Check-in is now per-ticket. Use `checked_in_at` on each item in `event_tickets` instead."}},"required":["id","user_id","user_email","user_name","user_first_name","user_last_name","approval_status","check_in_qr_code","eth_address","invited_at","joined_at","phone_number","registered_at","registration_answers","solana_address","utm_source","event_tickets","api_id","custom_source","event_ticket","user_api_id","checked_in_at"]}},"required":["api_id","guest"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/user/get-self":{"get":{"tags":["Miscellaneous"],"summary":"Get Self","parameters":[],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"user":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","name","avatar_url","email","first_name","last_name","api_id"]}},"required":["user"]}}}}}}},"/v1/calendar/list-person-tags":{"get":{"tags":["Calendars"],"summary":"List Person Tags","parameters":[],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"api_id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}},"required":["api_id","name","color"]}},"has_more":{"type":"boolean"}},"required":["entries","has_more"]}}}}}}},"/v1/calendar/event-tags/list":{"get":{"tags":["Calendars"],"summary":"List Event Tags","parameters":[],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"api_id":{"type":"string"},"name":{"type":"string"},"color":{"type":"string"}},"required":["api_id","name","color"]}}},"required":["entries"]}}}}}}},"/v1/calendar/admins/list":{"get":{"tags":["Calendars"],"summary":"List Calendar Admins","parameters":[],"description":"List all admins for the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","name","avatar_url","email","first_name","last_name","api_id"]}}},"required":["entries"]}}}}}}},"/v1/entity/lookup":{"get":{"tags":["Miscellaneous"],"summary":"Lookup Entity","parameters":[{"name":"slug","in":"query","required":true,"schema":{"type":"string"}}],"description":"Lookup an entity on Luma by it's slug.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entity":{"anyOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"calendar"},"calendar":{"type":"object","properties":{"api_id":{"type":"string"},"name":{"type":"string"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["api_id","name","slug"]}},"required":["type","calendar"]},{"type":"object","properties":{"type":{"type":"string","const":"event"},"event":{"type":"object","properties":{"api_id":{"type":"string"},"name":{"type":"string"},"slug":{"type":"string"},"cover_url":{"type":"string"},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"}},"required":["api_id","name","slug","cover_url","start_at","end_at"]}},"required":["type","event"]}]},{"type":"null"}]}},"required":["entity"]}}}}}}},"/v1/calendar/lookup-event":{"get":{"tags":["Calendars"],"summary":"Lookup Event","parameters":[{"name":"platform","in":"query","required":false,"schema":{"type":"string","enum":["external","luma"]}},{"name":"url","in":"query","required":false,"schema":{"type":"string"}},{"name":"event_api_id","in":"query","required":false,"schema":{"type":"string"}}],"description":"See if an event already exists on the calendar. This is useful when figuring out if you want to submit an event to the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"event":{"anyOf":[{"type":"object","properties":{"api_id":{"type":"string"},"status":{"type":"string","enum":["approved","pending","rejected"]}},"required":["api_id","status"]},{"type":"null"}]}},"required":["event"]}}}}}}},"/v1/calendar/list-people":{"get":{"tags":["Calendars"],"summary":"List People","parameters":[{"name":"query","in":"query","required":false,"schema":{"description":"Search over names and emails.","anyOf":[{"type":"string"},{"type":"null"}]},"description":"Search over names and emails."},{"name":"tags","in":"query","required":false,"schema":{"description":"Comma-separated list of tag names or tag IDs to filter people. Returns people who have any of the specified tags.","anyOf":[{"type":"string"},{"type":"null"}]},"description":"Comma-separated list of tag names or tag IDs to filter people. Returns people who have any of the specified tags."},{"name":"calendar_membership_tier_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}]}},{"name":"member_status","in":"query","required":false,"schema":{"description":"This is relevant for Calendar Memberships but not relevant otherwise.","anyOf":[{"type":"string","enum":["approved","pending","approved-pending-payment","declined"]},{"type":"null"}]},"description":"This is relevant for Calendar Memberships but not relevant otherwise."},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"sort_column","in":"query","required":false,"schema":{"type":"string","enum":["created_at","event_checked_in_count","event_approved_count","name","revenue_usd_cents"]}},{"name":"sort_direction","in":"query","required":false,"schema":{"type":"string","enum":["asc","desc","asc nulls last","desc nulls last"]}},{"name":"calendar_membership_tier_api_id","in":"query","required":false,"schema":{"anyOf":[{"type":"string","deprecated":true},{"type":"null"}]}}],"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"email":{"type":"string"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"event_approved_count":{"type":"number"},"event_checked_in_count":{"type":"number"},"revenue_usd_cents":{"type":"number"},"tags":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","name","api_id"]}},"user":{"type":"object","properties":{"id":{"type":"string"},"name":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"type":"string"},"email":{"type":"string"},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","name","avatar_url","email","first_name","last_name","api_id"]},"membership":{"anyOf":[{"type":"object","properties":{"status":{"type":"string","enum":["approved","pending","approved-pending-payment","declined"]},"calendar_membership_tier_id":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["status","calendar_membership_tier_id"]},{"type":"null"}]},"api_id":{"type":"string","deprecated":true,"description":"Use `id` instead."}},"required":["id","email","created_at","event_approved_count","event_checked_in_count","revenue_usd_cents","tags","user","membership","api_id"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/event/coupons":{"get":{"tags":["Events"],"summary":"List Event Coupons","parameters":[{"name":"event_id","in":"query","required":false,"schema":{"description":"Event ID, this usually starts with evt-","type":"string"},"description":"Event ID, this usually starts with evt-"},{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."},{"name":"event_api_id","in":"query","required":false,"schema":{"deprecated":true,"description":"Event API ID, this usually starts with evt-","type":"string"},"description":"Event API ID, this usually starts with evt-"}],"description":"List all coupons that have been created for an event..","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"api_id":{"type":"string"},"code":{"type":"string","description":"This code is case insensitive."},"remaining_count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"valid_start_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"percent_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"cents_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]}},"required":["api_id","code","remaining_count","valid_start_at","valid_end_at","percent_off","cents_off","currency"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/calendar/coupons":{"get":{"tags":["Calendars"],"summary":"List Calendar Coupons","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all coupons that have been created for a calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"api_id":{"type":"string"},"code":{"type":"string","description":"This code is case insensitive."},"remaining_count":{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},"valid_start_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},{"type":"null"}]},"percent_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"cents_off":{"anyOf":[{"type":"number"},{"type":"null"}]},"currency":{"anyOf":[{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},{"type":"null"}]}},"required":["api_id","code","remaining_count","valid_start_at","valid_end_at","percent_off","cents_off","currency"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/event/ticket-types/list":{"get":{"tags":["Events"],"summary":"List Ticket Types","parameters":[{"name":"event_id","in":"query","required":false,"schema":{"description":"Event ID, this usually starts with evt-","type":"string"},"description":"Event ID, this usually starts with evt-"},{"name":"include_hidden","in":"query","required":false,"schema":{"description":"Include hidden ticket types","type":"string"},"description":"Include hidden ticket types"},{"name":"event_api_id","in":"query","required":false,"schema":{"deprecated":true,"type":"string","description":"Event API ID"},"description":"Event API ID"}],"description":"List all ticket types for an event","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"ticket_types":{"type":"array","items":{"allOf":[{"oneOf":[{"type":"object","properties":{"name":{"type":"string"},"require_approval":{"type":"boolean"},"is_hidden":{"default":false,"type":"boolean"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_start_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"max_capacity":{"anyOf":[{"type":"number"},{"type":"null"}]},"membership_restriction":{"anyOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"all-members"}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","const":"memberships"},"calendar_membership_tier_api_ids":{"type":"array","items":{"type":"string"}}},"required":["type","calendar_membership_tier_api_ids"]}]},{"type":"null"}]},"ethereum_token_requirements":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-721"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-721"},"contract_name":{"type":"string"},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},"required":["type","contract_name","contract_address"]},"min_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]},"max_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]},{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-20"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-20"},"contract_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"decimals":{"type":"number"},"symbol":{"anyOf":[{"type":"string"},{"type":"null"}]},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["type","contract_name","contract_address","decimals","symbol"]},"min_token_balance":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]}]}},"type":{"type":"string","const":"free"},"cents":{"type":"null"},"currency":{"type":"null"},"is_flexible":{"type":"boolean","const":false},"min_cents":{"type":"null"}},"required":["name","require_approval","ethereum_token_requirements","type","cents","currency","is_flexible","min_cents"]},{"type":"object","properties":{"name":{"type":"string"},"require_approval":{"type":"boolean"},"is_hidden":{"default":false,"type":"boolean"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_start_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"max_capacity":{"anyOf":[{"type":"number"},{"type":"null"}]},"membership_restriction":{"anyOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"all-members"}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","const":"memberships"},"calendar_membership_tier_api_ids":{"type":"array","items":{"type":"string"}}},"required":["type","calendar_membership_tier_api_ids"]}]},{"type":"null"}]},"ethereum_token_requirements":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-721"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-721"},"contract_name":{"type":"string"},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},"required":["type","contract_name","contract_address"]},"min_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]},"max_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]},{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-20"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-20"},"contract_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"decimals":{"type":"number"},"symbol":{"anyOf":[{"type":"string"},{"type":"null"}]},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["type","contract_name","contract_address","decimals","symbol"]},"min_token_balance":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]}]}},"type":{"type":"string","const":"fiat-price"},"cents":{"type":"integer","minimum":0,"maximum":9007199254740991},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},"is_flexible":{"type":"boolean"},"min_cents":{"anyOf":[{"type":"integer","minimum":0,"maximum":9007199254740991},{"type":"null"}]}},"required":["name","require_approval","ethereum_token_requirements","type","cents","currency","is_flexible","min_cents"]}]},{"type":"object","properties":{"api_id":{"type":"string","deprecated":true},"id":{"type":"string"}},"required":["api_id","id"]}]}}},"required":["ticket_types"]}}}}}}},"/v1/event/ticket-types/get":{"get":{"tags":["Events"],"summary":"Get Ticket Type","parameters":[{"name":"id","in":"query","required":false,"schema":{"description":"Ticket type ID, this usually starts with ett-","type":"string"},"description":"Ticket type ID, this usually starts with ett-"},{"name":"event_ticket_type_api_id","in":"query","required":false,"schema":{"deprecated":true,"type":"string","description":"Event ticket type API ID"},"description":"Event ticket type API ID"}],"description":"Get a single ticket type by ID","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"ticket_type":{"allOf":[{"oneOf":[{"type":"object","properties":{"name":{"type":"string"},"require_approval":{"type":"boolean"},"is_hidden":{"default":false,"type":"boolean"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_start_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"max_capacity":{"anyOf":[{"type":"number"},{"type":"null"}]},"membership_restriction":{"anyOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"all-members"}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","const":"memberships"},"calendar_membership_tier_api_ids":{"type":"array","items":{"type":"string"}}},"required":["type","calendar_membership_tier_api_ids"]}]},{"type":"null"}]},"ethereum_token_requirements":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-721"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-721"},"contract_name":{"type":"string"},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},"required":["type","contract_name","contract_address"]},"min_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]},"max_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]},{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-20"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-20"},"contract_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"decimals":{"type":"number"},"symbol":{"anyOf":[{"type":"string"},{"type":"null"}]},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["type","contract_name","contract_address","decimals","symbol"]},"min_token_balance":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]}]}},"type":{"type":"string","const":"free"},"cents":{"type":"null"},"currency":{"type":"null"},"is_flexible":{"type":"boolean","const":false},"min_cents":{"type":"null"}},"required":["name","require_approval","ethereum_token_requirements","type","cents","currency","is_flexible","min_cents"]},{"type":"object","properties":{"name":{"type":"string"},"require_approval":{"type":"boolean"},"is_hidden":{"default":false,"type":"boolean"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_start_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"valid_end_at":{"anyOf":[{"type":"string"},{"type":"null"}]},"max_capacity":{"anyOf":[{"type":"number"},{"type":"null"}]},"membership_restriction":{"anyOf":[{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"all-members"}},"required":["type"]},{"type":"object","properties":{"type":{"type":"string","const":"memberships"},"calendar_membership_tier_api_ids":{"type":"array","items":{"type":"string"}}},"required":["type","calendar_membership_tier_api_ids"]}]},{"type":"null"}]},"ethereum_token_requirements":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-721"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-721"},"contract_name":{"type":"string"},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"}},"required":["type","contract_name","contract_address"]},"min_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]},"max_token_id":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]},{"type":"object","properties":{"chain":{"type":"string","const":"ethereum"},"type":{"type":"string","const":"erc-20"},"contract":{"type":"object","properties":{"type":{"type":"string","const":"erc-20"},"contract_name":{"anyOf":[{"type":"string"},{"type":"null"}]},"contract_address":{"type":"string","pattern":"^0x[0-9a-fA-F]{40}$"},"decimals":{"type":"number"},"symbol":{"anyOf":[{"type":"string"},{"type":"null"}]},"image":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["type","contract_name","contract_address","decimals","symbol"]},"min_token_balance":{"anyOf":[{"type":"string","pattern":"^\\d+$"},{"type":"null"}]}},"required":["chain","type","contract"]}]}},"type":{"type":"string","const":"fiat-price"},"cents":{"type":"integer","minimum":0,"maximum":9007199254740991},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},"is_flexible":{"type":"boolean"},"min_cents":{"anyOf":[{"type":"integer","minimum":0,"maximum":9007199254740991},{"type":"null"}]}},"required":["name","require_approval","ethereum_token_requirements","type","cents","currency","is_flexible","min_cents"]}]},{"type":"object","properties":{"api_id":{"type":"string"}},"required":["api_id"]}]}},"required":["ticket_type"]}}}}}}},"/v1/memberships/tiers/list":{"get":{"tags":["Memberships"],"summary":"List Membership Tiers","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List available membership tiers for the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"tint_color":{"description":"A hex color like '#bb2dc7'. Alpha channels (#rgba, #rrggbbaa) are automatically stripped.","type":"string"},"access_info":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"free"},"require_approval":{"type":"boolean"}},"required":["type","require_approval"]},{"type":"object","properties":{"type":{"type":"string","const":"payment-once"},"amount":{"type":"number","exclusiveMinimum":0},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},"require_approval":{"type":"boolean"}},"required":["type","amount","currency","require_approval"]},{"type":"object","properties":{"type":{"type":"string","const":"payment-recurring"},"currency":{"type":"string","enum":["solana_sol","solana_usdc","aed","afn","all","amd","ang","aoa","ars","aud","awg","azn","bam","bbd","bdt","bgn","bhd","bif","bmd","bnd","bob","brl","bsd","bwp","byn","bzd","cad","cdf","chf","clp","cny","cop","crc","cve","czk","djf","dkk","dop","dzd","egp","etb","eur","fjd","fkp","gbp","gel","ghs","gip","gmd","gnf","gtq","gyd","hkd","hnl","htg","huf","idr","ils","inr","isk","jmd","jod","jpy","kes","kgs","khr","kmf","krw","kwd","kyd","kzt","lak","lbp","lkr","lrd","lsl","mad","mdl","mga","mkd","mmk","mnt","mop","mur","mvr","mwk","mxn","myr","mzn","nad","ngn","nio","nok","npr","nzd","omr","pab","pen","pgk","php","pkr","pln","pyg","qar","ron","rsd","rub","rwf","sar","sbd","scr","sek","sgd","shp","sle","sos","srd","std","szl","thb","tjs","tnd","top","try","ttd","twd","tzs","uah","ugx","usd","uyu","uzs","vnd","vuv","wst","xaf","xcd","xof","xpf","yer","zar","zmw"]},"stripe_account_id":{"type":"string"},"stripe_product_id":{"type":"string"},"stripe_monthly_price_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"amount_monthly":{"anyOf":[{"type":"number","exclusiveMinimum":0},{"type":"null"}]},"stripe_yearly_price_id":{"anyOf":[{"type":"string"},{"type":"null"}]},"amount_yearly":{"anyOf":[{"type":"number","exclusiveMinimum":0},{"type":"null"}]},"require_approval":{"type":"boolean"}},"required":["type","currency","stripe_account_id","stripe_product_id","require_approval"]}]}},"required":["id","name","description","tint_color","access_info"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/webhooks/list":{"get":{"tags":["Webhooks"],"summary":"List Webhooks","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all webhook endpoints for the calendar.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"event_types":{"type":"array","items":{"type":"string","enum":["*","calendar.event.added","calendar.person.subscribed","event.canceled","event.created","event.updated","guest.registered","guest.updated","ticket.registered"]}},"status":{"type":"string","enum":["active","paused"]},"secret":{"type":"string"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"}},"required":["id","url","event_types","status","secret","created_at"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/webhooks/get":{"get":{"tags":["Webhooks"],"summary":"Get Webhook","parameters":[{"name":"id","in":"query","required":true,"schema":{"type":"string"}}],"description":"Get details about a specific webhook endpoint.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"webhook":{"type":"object","properties":{"id":{"type":"string"},"url":{"type":"string"},"event_types":{"type":"array","items":{"type":"string","enum":["*","calendar.event.added","calendar.person.subscribed","event.canceled","event.created","event.updated","guest.registered","guest.updated","ticket.registered"]}},"status":{"type":"string","enum":["active","paused"]},"secret":{"type":"string"},"created_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"}},"required":["id","url","event_types","status","secret","created_at"]}},"required":["webhook"]}}}}}}},"/v1/organizations/calendars/list":{"get":{"tags":["Organizations"],"summary":"List Organization Calendars","parameters":[{"name":"pagination_cursor","in":"query","required":false,"schema":{"description":"Value of `next_cursor` from a previous request.","type":"string"},"description":"Value of `next_cursor` from a previous request."},{"name":"pagination_limit","in":"query","required":false,"schema":{"description":"The number of items to return. The server will enforce a maximum number.","type":"number"},"description":"The number of items to return. The server will enforce a maximum number."}],"description":"List all calendars belonging to the organization.","responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"entries":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"slug":{"anyOf":[{"type":"string"},{"type":"null"}]},"avatar_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"url":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]},"social_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"cover_image_url":{"anyOf":[{"type":"string"},{"type":"null"}]},"is_personal":{"type":"boolean"},"instagram_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"twitter_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"youtube_handle":{"anyOf":[{"type":"string"},{"type":"null"}]},"website":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","name","slug","avatar_url","url","description","social_image_url","cover_image_url","is_personal","instagram_handle","twitter_handle","youtube_handle","website"]}},"has_more":{"type":"boolean"},"next_cursor":{"type":"string"}},"required":["entries","has_more"]}}}}}}},"/v1/event/create":{"post":{"tags":["Events"],"summary":"Create Event","requestBody":{"required":true,"content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"can_register_for_multiple_tickets":{"type":"boolean"},"cover_url":{"type":"string","format":"uri","pattern":"^https:\\/\\/images\\.lumacdn\\.com\\/.*","description":"Specify an image that has been uploaded to the Luma CDN. You can upload an image after getting an upload URL from the Luma API."},"coordinate":{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},"description_md":{"type":"string","description":"Luma stores rich text in a special format called Spark. We don't expose an API for that format, but we can convert Markdown to Spark for you. Some Spark features, like Luma event embeds, are not supported by Markdown."},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"geo_address_json":{"oneOf":[{"type":"object","properties":{"type":{"type":"string","const":"manual"},"address":{"type":"string"}},"required":["type","address"]},{"type":"object","properties":{"type":{"type":"string","const":"google"},"place_id":{"type":"string"},"description":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["type","place_id"]}]},"max_capacity":{"description":"Once an event hits the max capacity, the event will be marked as sold out and registration will automatically be closed.\n\nIf `can_register_for_multiple_tickets` is `true`, each ticket will count towards the max capacity.","anyOf":[{"type":"integer","minimum":-9007199254740991,"maximum":9007199254740991},{"type":"null"}]},"meeting_url":{"type":"string"},"name":{"type":"string"},"name_requirement":{"type":"string","enum":["full-name","first-last"],"description":"Luma collects the name of every guest as they register. Choose if you'd like to split this into two fields to encourage guests to enter their first and last name."},"phone_number_requirement":{"anyOf":[{"type":"string","enum":["optional","required"]},{"type":"null"}]},"registration_questions":{"type":"array","items":{"anyOf":[{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"agree-check"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"company"},"collect_job_title":{"anyOf":[{"type":"boolean"},{"type":"null"}]},"job_title_label":{"anyOf":[{"type":"string"},{"type":"null"}]}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"dropdown"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"github"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"instagram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"linkedin"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"long-text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"multi-select"},"options":{"maxItems":250,"type":"array","items":{"type":"string"}}},"required":["id","label","required","question_type","options"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"phone-number"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"telegram"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"text"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"twitter"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"url"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"youtube"}},"required":["id","label","required","question_type"]},{"type":"object","properties":{"id":{"type":"string"},"label":{"type":"string"},"required":{"type":"boolean"},"question_type":{"type":"string","const":"terms"},"terms":{"oneOf":[{"type":"object","properties":{"content_type":{"type":"string","const":"text"},"content_md":{"type":"string","description":"Markdown content for the terms. Luma converts this to rich text internally."},"collect_signature":{"type":"boolean"}},"required":["content_type","content_md","collect_signature"]},{"type":"object","properties":{"content_type":{"type":"string","const":"link"},"url":{"type":"string","format":"uri"},"collect_signature":{"type":"boolean"}},"required":["content_type","url","collect_signature"]}]}},"required":["id","label","required","question_type","terms"]}]}},"reminders_disabled":{"description":"By default, Luma will send reminders before the event. Turn off if you'd like more control over event communications.","type":"boolean"},"feedback_email":{"description":"Settings for the post-event feedback email sent to guests. If not specified on create, inherits from calendar defaults.","type":"object","properties":{"enabled":{"type":"boolean","description":"Whether to send the feedback email."},"delay":{"description":"How long after the event ends to send the feedback email. Defaults to PT0M (immediately). Maximum is P7D (7 days).","type":"string"}},"required":["enabled"]},"show_guest_list":{"description":"When the guest list is shown, approved guests will be able to see who else is going to the event.","type":"boolean"},"slug":{"description":"The URL slug for the event. If the slug is `aloha`, the URL will be `https://luma.com/aloha`. If the slug is not available, the event creation will fail.\n\nYou can use `/public/v1/entity/lookup` to check if a slug is available.","type":"string","minLength":3,"maxLength":50},"start_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z|([+-](?:[01]\\d|2[0-3]):[0-5]\\d)))$","description":"ISO 8601 Datetime. For example, 2022-10-19T03:27:13.673Z"},"timezone":{"type":"string","description":"IANA Timezone, e.g. America/New_York. https://en.wikipedia.org/wiki/List_of_tz_database_time_zones"},"tint_color":{"description":"A hex color like '#bb2dc7'. Alpha channels (#rgba, #rrggbbaa) are automatically stripped.","type":"string"},"visibility":{"type":"string","enum":["public","members-only","private"]}},"required":["name","start_at","timezone"]}}}},"responses":{"200":{"description":"Successful response.","content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"api_id":{"type":"string"}},"required":["api_id"]}}}}}}},"/v1/event/update":{"post":{"tags":["Events"],"summary":"Update Event","requestBody":{"required":true,"content":{"application/json":{"schema":{"$schema":"https://json-schema.org/draft/2020-12/schema","type":"object","properties":{"event_api_id":{"type":"string"},"suppress_notifications":{"description":"If true, Luma will not notify guests (via email or push notification) when updating the event name, time, or location.","type":"boolean"},"can_register_for_multiple_tickets":{"type":"boolean"},"cover_url":{"type":"string","format":"uri","pattern":"^https:\\/\\/images\\.lumacdn\\.com\\/.*","description":"Specify an image that has been uploaded to the Luma CDN. You can upload an image after getting an upload URL from the Luma API."},"coordinate":{"type":"object","properties":{"longitude":{"type":"number"},"latitude":{"type":"number"}},"required":["longitude","latitude"]},"description_md":{"type":"string","description":"Luma stores rich text in a special format called Spark. We don't expose an API for that format, but we can convert Markdown to Spark for you. Some Spark features, like Luma event embeds, are not supported by Markdown."},"end_at":{"type":"string","format":"date-time","pattern":"^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|
[...]
